<div class="center-align">
  <mat-card class="api">
    <mat-card-title>
      API Call
      <button mat-raised-button color="primary" (click)="logout()">Logout</button>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>URI</mat-label>
        <input matInput [(ngModel)]="url">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" (click)="callServer()">GET</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="result">
    <mat-card-title>Result</mat-card-title>
    <mat-card-content>
      <div *ngIf="waiting; else resultBlock">
        Calling {{ url }}....
      </div>
      <ng-template #resultBlock>{{ result }}</ng-template>
      
    </mat-card-content>
  </mat-card>
</div>